@import "tailwindcss";

@theme {
  --color-primary: #FF6B2C;
  --color-primary-light: #FFF1EB;
  --color-primary-dark: #E65C24;
  --color-gray-1: #F2F2F2;
  --color-gray-2: #D9D9D9;
  --color-gray-3: #888888;
  --color-gray-4: #666666;
  --color-gray-5: #444444;
  --color-gray-6: #111111;
  --color-error: #FF3B30;
  --color-success: #34A853;
}

h1 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

h2 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.caption {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
}